*{
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: blanchedalmond;
}

.header{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 20px;
}