*{
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;;
    min-height: 90vh;
    padding: 80px;
    border: solid black 2px;

}

.left-hero {
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black 2px;

}

.right-hero {
    width: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.right-hero h2{
    font-size: 35px;


}

.right-hero p{
    font-size: 17px;

}

label {
    font-size: 15px;
    font-weight: 700;
}

input {
    color: blue;
    width: 100%;
    height: 45px;
}

.ending-box {
    display: flex;
    justify-content: space-between;
}